# Copy this file to .env and fill in the values to configure the tests
PW_XFD_URL=http://localhost
PW_XFD_USERNAME=""
PW_XFD_PASSWORD=""
PW_XFD_2FA_ISSUER=""
PW_XFD_2FA_SECRET=""
PW_XFD_USER_ROLE=""
PW_XFD_LOGIN=""
PW_HEADLESS=false
PW_CI=false
SESSION_STORAGE="" 